/*#fruits{
	display: grid;
	grid-template-columns: auto auto auto auto;
}
#fruits div{
	padding: 20px 1px;
	margin: 100px;
	height: 100px;
}*/

/*working on another api*/

/*#news{
	display: grid;
	grid-template-columns: auto auto auto;
}

#news div{
	padding: 20px 8px;
	margin: 10px;
	
}*/

/*,,,,,,,,,,,,,,,,,,,,,,,,*/