#note{
	width: 100%;
	background-color:#0cc;
	border: 1px solid grey;

}
#noteBtn{
	background-color: #009600;
	cursor: pointer;
	float: right;
	font-size: 20px;

}	


#noteBtn:hover{
	background-color: white;
	border: 1px solid #009600;

}

#mynotes{
	color: green;
	font-size: 24px;
	padding-top: 60px;
}
.delete{
	color:#f17972;
	text-decoration: underline;

}
.delete:hover{
	color: #9c0000;
	cursor: pointer;
}